:root{
  --primary-color: #1B3C53;
  --alt-color: #456882;
  --third-color: #D2C1B6;
  --background-color: #F9F3EF;
}
*{
  background-color: var(--background-color);
}
 h1, h2, p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
 }
 p{
  color: var(--primary-color)
 }
 h1, h2{
  color: var(--alt-color);
 }
 ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
 }
 ul li{
  width: 23%;
  list-style: none;
  margin-top: 2%;
  padding: 2%;
  background-color: var(--third-color);
  text-align: center;
  overflow: hidden;
  border-radius: 10%;
 }
 li a{
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--third-color);
 }
