:root{
  --primary-color: #1B3C53;
  --alt-color: #456882;
  --third-color: #D2C1B6;
  --background-color: #F9F3EF;
}
*{
  background-color: var(--background-color);
}
 h1, h2, p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
 }
 p{
  color: var(--primary-color)
 }
 h1, h2{
  color: var(--alt-color);
 }
 .sites_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5%;
  column-gap: 2%;
  flex-grow: 1;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
 }
  button{
  border: 0px;
  width: 100%;
  height: 30px;
  margin-bottom: 3%;
 }
 .imgWrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--third-color);
    padding: 1%;
    border: 0px;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 15pt;
    box-shadow: 4px 4px 4px 2px #7a7068;
 }
 div.imgWrapper img{
  width: 90%;
 }
 li a{
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--third-color);
 }
