:root{
  --primary-color: #1B3C53;
  --alt-color: #456882;
  --third-color: #D2C1B6;
  --background-color: #F9F3EF;
}
*{
  background-color: var(--background-color);
}
 h1, h2, p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
 }
 p{
  color: var(--alt-color);
  font-size: 16pt;
  font-weight: 600;
 }
 h1, h2{
  color: var(--alt-color);
  font-weight: 700;
 }

 .sites_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3%;
  column-gap: 3%;
  flex-grow: 1;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
 }
  button.siteChoice {
  border: 0px;
  width: 100%;
  padding: 8px 16px;
  height: auto;
  margin-bottom: 1%;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--alt-color);
  font-weight: 600;
  font-size: 16px;
 }
 button.allSites{
  background-color: var(--alt-color);
  color: var(--background-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  width: 12%;
  height: 70px;
  margin: 20px auto 0;
  text-align: center;
  display: block;
 }
 button.visitsButton{
  background-color: var(--alt-color);
  color: var(--background-color);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  width: 25%;
  height: 70px;
  margin: 20px auto 0;
  margin-bottom: 30px;
  text-align: center;
  display: block;
 }
 .imgWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--alt-color);
    padding: 1%;
    border: 0px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 15pt;
    box-shadow: 4px 4px 4px 2px #7a7068;
 }
 div.imgWrapper img{
  width: 90%;
  margin-top: 4%;
 }
 li a{
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--alt-color);
 }
 a{
  background-color: var(--alt-color);
 }

 input {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
 }
 .checkWrapper{
  background-color: var(--alt-color);
 }
 .photo_desc img{
  height: 500px;
 }
 label {
  background-color: var(--alt-color);
  color: var(--background-color)
 } 
 .siteVisits {
  display: flex;
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
 }
 
 .visited,
 .unvisited {
  flex: 1;
  background-color: var(--alt-color);
  border-radius: 20px;
 }
  .visited h2, 
  .unvisited h2, .unvisited p, .visited p {
  background-color: var(--alt-color);
  color: var(--background-color);
  text-align: center;
 }
 .visited h2, 
  .unvisited h2{
    font-size: 28px;;
  }